@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Nunito:wght@400;600;700&display=swap");
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #f7fafc;
    background-image: url(res/bg2.jpg);
    background-size: cover;
    font-family: "Noto Sans KR", sans-serif;
    align-items: center;
}